doctype html
html(lang='en' prefix="og: http://ogp.me/ns#")
  // HTML Head
  head
    title ES6 Boilerplate
    // Standard Meta
    // Add URL to delpoyed version in content
      meta(name="url" content="")
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
    meta(name='msapplication-TileColor' content='#ffffff')
    meta(name='msapplication-TileImage' content='../public/images/favicons/ms-icon-144x144.png')
    meta(name='theme-color' content='#204d74')
    meta(name='application-name' content='ES6 Boilerplate')
    meta(name='description' content='ES6 Boilerplate WebApp Visit: https://github.com/VonSwirl/ES6-boilerplate-webapp')
    

    // Open Graph Meta
    // Add URL to delpoyed version in content
      meta(property='og:url' content='')
    meta(property='og:title' content='ES6 Boilerplate')
    meta(property='og:description' content='ES6 Boilerplate WebApp Visit: https://github.com/VonSwirl/ES6-boilerplate-webapp')
    meta(property="og:image:type" content="image/jpg")
    meta(property='og:image:secure_url' content='../public/images/favicons/apple-icon-180x180.png')
    meta(property='og:image:width' content='615')
    meta(property='og:image:height' content='398')
    meta(property="og:locale" content="en_GB")
    

    // Twitter Card
    meta(name='twitter:title' content='ES6 Boilerplate')
    meta(name="twitter:card" content="summary_large_image")
    meta(name='twitter:description' content='ES6 Boilerplate WebApp Visit: https://github.com/VonSwirl/ES6-boilerplate-webapp')
    // REMOVE COMMENT WHEN CORRECT CONTENT ADDED
      meta(name="twitter:site" content="@<ADD INFO>")
      meta(name="twitter:creator" content="@<ADD INFO>")
      meta(name="twitter:image" content='../public/images/rich-preview-summary.jpg')
      meta(name="twitter:image:alt" content='<ADD DESCRIPTION>')
    
    // Links
    // ADD PRECONNECTS HERE e.g
      link(rel="preconnect" href='https://use.fontawesome.com/')
    link(rel='manifest' href='../public/manifest.json')
    link(rel='apple-touch-icon' sizes='57x57' href='../public/images/favicons/apple-icon-57x57.png')
    link(rel='apple-touch-icon' sizes='60x60' href='../public/images/favicons/apple-icon-60x60.png')
    link(rel='apple-touch-icon' sizes='72x72' href='../public/images/favicons/apple-icon-72x72.png')
    link(rel='apple-touch-icon' sizes='76x76' href='../public/images/favicons/apple-icon-76x76.png')
    link(rel='apple-touch-icon' sizes='114x114' href='../public/images/favicons/apple-icon-114x114.png')
    link(rel='apple-touch-icon' sizes='120x120' href='../public/images/favicons/apple-icon-120x120.png')
    link(rel='apple-touch-icon' sizes='144x144' href='../public/images/favicons/apple-icon-144x144.png')
    link(rel='apple-touch-icon' sizes='152x152' href='../public/images/favicons/apple-icon-152x152.png')
    link(rel='apple-touch-icon' sizes='180x180' href='../public/images/favicons/apple-icon-180x180.png')
    link(rel='icon' type='image/png' sizes='192x192' href='../public/images/favicons/android-icon-192x192.png')
    link(rel='icon' type='image/png' sizes='32x32' href='../public/images/favicons/favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='96x96' href='../public/images/favicons/favicon-96x96.png')
    link(rel='icon' type='image/png' sizes='16x16' href='../public/images/favicons/favicon-16x16.png')
    link(rel='stylesheet' type='text/css' href='../public/styles/main.css')
    
    // No Script Statement
    noscript.
      <hr>
      <h3>Just So You Know...
      <p>Your browser and/or connection is blocking scripts which are an essential component of our website to deliver you a great customer experience.</p>
      <br>
      <p>We highly recommend Google Chrome as a web browser. See here: <a href='https://www.google.com/chrome/'>Get Google Chrome!</a></p>
      <br>
      <p>If you are connected to a work or public network, this may be restricting your browsing experience.</p> 
      <br>
      <p>Please use a browser that supports our website, or connect to a network that is not restricting connection to the internet</p>
      <br>
      <p>We look forward to you revisiting us again :)</p>
      <hr>

  // HTML Body
  block content
  // Scripts
  // GDPR Banner
  script(type='text/javascript' src='https://cdn.jsdelivr.net/npm/cookie-bar/cookiebar-latest.min.js?forceLang=en&theme=grey&thirdparty=1&always=1&refreshPage=1&showNoConsent=1&showPolicyLink=1&remember=English&privacyPage=privacy-policy')
  script(src='https://code.jquery.com/jquery-3.4.1.slim.min.js' integrity='sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n' crossorigin='anonymous')
  script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js' integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo' crossorigin='anonymous')
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js' integrity='sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6' crossorigin='anonymous')
